{
	"extends": ["airbnb", "prettier"],
	"plugins": ["prettier"],
	"rules": {
		"prettier/prettier": ["error"],
		"react/jsx-indent": [4, "space"],
		"react/jsx-indent-props": [4, "space"],
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
	}
}
