.example {
	background: aquamarine;
	height: 100px;
	width: 100px;
}

.resizzer {
	display: inline-block;
	position: relative;
}

.resizzer__handle {
	background: darkorange;
	cursor: col-resize;
	height: 100%;
	width: 4px;
	position: absolute;
	right: 0;
	top: 0;
}
